<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>servletExample</display-name>
	<context-param>
		<param-name>(New ContextParameter)</param-name>
		<param-value></param-value>
	</context-param>
	<servlet>
		<servlet-name>BrowseEmployees</servlet-name>
		<display-name>BrowseEmployees</display-name>
		<servlet-class>com.wsbook.servletexample.BrowseEmployees</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeDetails</servlet-name>
		<display-name>EmployeeDetails</display-name>
		<servlet-class>com.wsbook.servletexample.EmployeeDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateEmployee</servlet-name>
		<display-name>UpdateEmployee</display-name>
		<servlet-class>com.wsbook.servletexample.UpdateEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateEmployee</servlet-name>
		<display-name>CreateEmployee</display-name>
		<description>Create a new Employee</description>
		<servlet-class>com.wsbook.servletexample.CreateEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>browseEmployees</servlet-name>
		<display-name>browseEmployees</display-name>
		<jsp-file>/browseEmployees.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>BrowseEmployees</servlet-name>
		<url-pattern>/BrowseEmployees</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeDetails</servlet-name>
		<url-pattern>/EmployeeDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateEmployee</servlet-name>
		<url-pattern>/UpdateEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateEmployee</servlet-name>
		<url-pattern>/CreateEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>browseEmployees</servlet-name>
		<url-pattern>/browseEmployees.jsp</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref id="ResourceRef_1032790899721">
		<res-ref-name>jdbc/EJPBOOK</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Application</res-auth>
	</resource-ref>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>EmployeeBrowser</web-resource-name>
			<description></description>
			<http-method>
			GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>administrator</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<description></description>
		<role-name>administrator</role-name>
	</security-role>
	<env-entry>
		<env-entry-name>(New Variable)</env-entry-name>
		<env-entry-value></env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
</web-app>
